<section>
  <div class="container main px-4">
    <!-- Details Section -->
    <div class="details-section">
      <!-- Product Image -->
      <figure
        class="my-5 col-lg-5 col-md-12 d-flex justify-content-center img-fluid"
      >
        <p-image
          src="assets/images/cat.jpg"
          alt="Image"
          [preview]="true"
        ></p-image>
      </figure>
      <!-- Product Details -->
      <div class="m-5 col-lg-7 col-md-12">
        <h3 class="my-3">
          BARS® Flea & Ticks Drops For Dogs 10 Kg (1 pipette)
        </h3>
        <p-rating [(ngModel)]="val" [cancel]="false"></p-rating>

        <p class="my-3 fs-3" style="color: #ecada6"><b> 300.5 EGP</b></p>
        <p class="fs-4">
          Category:
          <span class="fs-5" style="color: #999"> Supplies</span>
        </p>
        <p class="fs-4">
          animalType: <span class="fs-5" style="color: #999">Dogs</span>
        </p>
        <p class="fs-4">
          Brand: <span class="fs-5" style="color: #999">Josera</span>
        </p>
        <div *ngIf="quantity > 0; then instock; else outofstock"></div>
        <ng-template #instock><p class="instock">In Stock</p></ng-template>
        <ng-template #outofstock
          ><p class="outofstock">Out Of Stock</p></ng-template
        >
        <div class="my-4">
          <button
            pButton
            pRipple
            type="button"
            label="ADD TO CART"
            class="p-button-raised p-button-secondary me-3 cart-button"
          >
            <i class="fa-solid fa-cart-shopping me-3"></i>
          </button>
          <!-- <button
            pButton
            pRipple
            type="button"
            class="p-button-raised p-button-secondary"
          >
            <i class="fa-solid fa-bookmark"></i>
          </button> -->
          <p-toggleButton
            [(ngModel)]="checked1"
            [onIcon]="'pi pi-heart-fill'"
            offIcon="pi pi-heart"
          ></p-toggleButton>
        </div>
      </div>
    </div>

    <!-- Description Section  -->
    <div class="my-5 container col-12">
      <h4>Description</h4>
      <hr />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam culpa
        nesciunt, aperiam assumenda, animi odit aliquid repellat nobis dolorum
        magni quos sed? Rerum consequuntur aliquid nostrum earum excepturi
        laudantium porro? Lorem, ipsum dolor sit amet consectetur adipisicing
        elit. Temporibus laborum beatae alias modi expedita nostrum dolor nam,
        distinctio blanditiis reprehenderit earum quisquam dolorem libero qui,
        saepe, fugiat enim ratione minima. Lorem ipsum dolor sit, amet
        consectetur adipisicing elit. Ratione quasi quidem dolor fugiat rerum
        reprehenderit, aspernatur velit voluptates esse minus dolorum distinctio
        maiores iure sint omnis veritatis illo nostrum vero. Lorem ipsum dolor
        sit amet consectetur adipisicing elit. Ratione laboriosam fuga, repellat
        rerum cumque minus qui quis suscipit ipsam nemo velit obcaecati
        consectetur autem facilis repellendus distinctio praesentium. Similique,
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic at veniam
        possimus dolor. Assumenda necessitatibus sunt quia obcaecati,
        accusantium ipsam aperiam rerum suscipit labore alias blanditiis
        repudiandae. Tempora, voluptate itaque. Lorem ipsum dolor sit amet
        consectetur adipisicing elit. Consequatur, eos, dicta, ea consectetur
        quod quia nisi illo deleniti magni sint itaque explicabo eum. Quis a
        itaque pariatur ullam eligendi ipsa.
      </p>
    </div>

    <!-- Review Section -->
    <div class="my-5 container pb-4 col-12">
      <h4>Reviews</h4>
      <hr />
      <div class="rate-display mb-5 p-2 border rounded">
        <p>Abdelrahman Youssef</p>
        <p-rating [(ngModel)]="val1" [cancel]="false"></p-rating>
        <p class="my-4">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur in
        </p>
      </div>
      <div class="user-rate">
        <div class="d-flex my-3">
          <span class="me-3">Your Rating:</span>
          <p-rating [(ngModel)]="val1" [cancel]="false"></p-rating>
        </div>
        <span class="p-float-label my-4">
          <p>Comment:</p>
          <textarea
            id="float-input"
            rows="5"
            cols="40"
            pInputTextarea
            class="comment"
          ></textarea>
        </span>
        <button
          pButton
          pRipple
          type="submit"
          label="Submit"
          class="p-button-raised p-button-secondary"
        ></button>
      </div>
    </div>
  </div>
</section>
