<!-- Heading -->
<h1 class="text-center mt-4">Shopping Cart</h1>
<ng-template [ngIf]="cartItems.length == 0" [ngIfElse]="elseBlock">
  <!-- Empty cart Page -->
  <h2 class="emptyCart mt-5 text-center p-5 border rounded bg-light">
    <figure class="img-fluid">
      <img src="assets/images/Dog-removebg.png" alt="Dog" />
    </figure>
    <p>Your Happy Paws Cart Is Empty</p>
    <p-button
      (onClick)="onShopNowClick()"
      styleClass="card__addToCart"
      label="Shop Now"
      icon="pi pi-shopping-bag"
    >
    </p-button>
  </h2>
</ng-template>
<!-- Cart Items -->
<ng-template #elseBlock>
  <section class="my-5 container border rounded">
    <!-- Empty Cart Button -->
    <div class="d-flex justify-content-end">
      <button class="btn btn-danger my-3 mx-4" (click)="emptyCart()">
        Empty Cart
      </button>
    </div>
    <!-- Cart items table in large screens-->
    <div class="d-none d-lg-block">
      <table class="table">
        <thead>
          <!-- Table header -->
          <tr>
            <th scope="col" class="fs-5">Image</th>
            <th scope="col" class="fs-5">Name</th>
            <th scope="col" class="fs-5">Price</th>
            <th scope="col" class="fs-5">Quantity</th>
            <th></th>
          </tr>
        </thead>
        <tbody *ngFor="let item of cartItems">
          <!-- Table Item -->
          <tr>
            <!-- Item image -->
            <td class="w-25 align-middle">
              <figure class="m-0">
                <img
                  [src]="item.images[0]"
                  [alt]="item.title"
                  class="img-fluid"
                />
              </figure>
            </td>
            <!-- Title -->
            <td class="align-middle">
              <p class="fs-5 title">{{ item.title }}</p>
            </td>
            <!-- Price -->
            <td class="align-middle">
              <p class="fs-5">{{ item.price }} EGP</p>
            </td>
            <!-- Buttons -->
            <td class="align-middle">
              <button
                class="fs-5 text-secondary btn btn-light QuantityBtn"
                (click)="increaseQty(item)"
              >
                <i class="fa-solid fa-circle-plus fs-4"></i>
              </button>
              &nbsp; <span class="fs-5">{{ item.count }}</span> &nbsp;
              <button
                class="fs-5 text-secondary btn btn-light QuantityBtn"
                (click)="decreaseQty(item)"
              >
                <i class="fa-solid fa-circle-minus fs-4"></i>
              </button>
            </td>
            <td class="text-center align-middle">
              <button
                class="btn btn-light removeBtn"
                (click)="removeCartItem(item.id)"
              >
                <i class="fa-solid fa-trash-can fs-3"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Cart items Cards in medium and small screens-->
    <div class="p-2 d-flex flex-wrap CardContainer d-lg-none">
      <div class="col-12 p-2">
        <p-card
          styleClass="p-card-shadow  card p-2 my-4"
          *ngFor="let item of cartItems"
        >
          <ng-template pTemplate="header">
            <div class="d-flex card__detailsContainer">
              <!-- Item image -->
              <figure>
                <img
                  [alt]="item.title"
                  class="card__img img-fluid"
                  [src]="item.images[0]"
                />
              </figure>
              <!-- Title & price -->
              <div class="mx-3">
                <p class="card__title fw-md-bold fs-md-6">
                  {{ item.title }}
                </p>
                <p class="card__price fw-bold my-1 fs-6" style="color: #ecada6">
                  {{ item.price }} EGP
                </p>
              </div>
            </div>
          </ng-template>
          <!-- Increment/Decrement & remove buttons -->
          <ng-template pTemplate="footer">
            <div class="d-flex justify-content-between card__buttonsContainer">
              <div>
                <button
                  class="btn btn-light removeBtn"
                  (click)="removeCartItem(item.id)"
                >
                  <i class="fa-solid fa-trash-can fs-3"></i>
                </button>
              </div>
              <div>
                <button
                  class="fs-5 text-secondary btn btn-light QuantityBtn"
                  (click)="increaseQty(item)"
                >
                  <i class="fa-solid fa-circle-plus fs-4"></i>
                </button>
                &nbsp; <span class="fs-5">{{ item.count }}</span> &nbsp;
                <button
                  class="fs-5 text-secondary btn btn-light QuantityBtn"
                  (click)="decreaseQty(item)"
                >
                  <i class="fa-solid fa-circle-minus fs-4"></i>
                </button>
              </div>
            </div>
          </ng-template>
        </p-card>
      </div>
    </div>
    <!-- Total price -->
    <h4 class="mt-4 text-end mb-5">Total Price: {{ totalCartPrice }} EGP</h4>
  </section>
</ng-template>
<!-- Toasts -->
<!-- Success toast -->
<p-toast key="database"></p-toast>
<!-- Error toast -->
<p-toast key="error"></p-toast>
