<section class="pt-4 profile">
  <div class="container">
    <h3 class="pb-2">Welcome Back, {{ user.firstName }}</h3>
    <h6>Welcome to your Happy Paws account!</h6>
    <h6 class="pb-3">Here you can modify your information.</h6>
    <p-tabView>
      <p-tabPanel header="Profile" leftIcon="fa-regular fa-circle-user">
        <app-account-details
          (profileEmitter)="profileUpdated($event)"
        ></app-account-details>
      </p-tabPanel>
      <p-tabPanel header="My Address" leftIcon="pi pi-map-marker">
        <app-addresses
          (addressEmitter)="addressUpdated($event)"
        ></app-addresses>
      </p-tabPanel>
      <p-tabPanel header="My Pets" leftIcon="fa-solid fa-paw">
        <app-my-pets (petEmitter)="petUpdated($event)"></app-my-pets>
      </p-tabPanel>
    </p-tabView>
  </div>
  <p-toast key="database"></p-toast>
</section>
