<section class="pt-4 profile">
  <div class="container">
    <h3 class="pb-2">Welcome Back</h3>
    <h6>Welcome to your Happy Paws account!</h6>
    <h6 class="pb-3">Here you can modify your information.</h6>
    <p-tabView>
      <p-tabPanel header="Profile" leftIcon="fa-regular fa-circle-user">
        <app-account-details></app-account-details>
      </p-tabPanel>
      <!-- <p-tabPanel header="My Orders" leftIcon="pi pi-shopping-bag">
        <app-my-orders></app-my-orders>
      </p-tabPanel> -->
      <p-tabPanel header="My Address" leftIcon="pi pi-map-marker">
        <app-addresses></app-addresses>
      </p-tabPanel>
    </p-tabView>
  </div>
</section>
