.animal-list {
  background-color: var(--auth-background);
  h1 {
    font-size: 1.2rem;
    color: var(--dark-grey-color);
    span {
      color: var(--pink-color);
    }
  }
}
@media (min-width: 992px) {
  .animal-list {
    h1 {
      font-size: 1.9rem;
    }
  }
}
