.blog-card:hover {
  box-shadow: 0.5rem 1rem 2rem rgba(0, 0, 0, 0.15) !important;
  cursor: pointer;
}
.blog-card {
  border-radius: 25px;
}
img {
  border-radius: 25px 25px 0 0;
}
.blog-title {
  color: var(--dark-grey-color);
}
.sub-title {
  color: var(--grey-color);
}
