.navbar {
  background-color: var(--auth-background);
  figure {
    font-size: 0;
    width: 20%;
  }
  .navbar__logo-text b{
    color:var(--dark-grey-color)
  }
  
}

:host ::ng-deep .p-button-label {
  display: none;
}
:host ::ng-deep .p-menu .p-submenu-header {
  display: none;
}
:host ::ng-deep .navbar__user-btn {
  background-color: white;
  color: var(--dark-grey-color);
  border: 1px solid var(--pink-color);
}
:host ::ng-deep .navbar__user-btn:hover,
:host ::ng-deep .navbar__user-btn:active {
  background-color: var(--pink-color);
  color: white;
  border: 2px solid var(--pink-color);
}
:host ::ng-deep .navbar__user-btn:hover:active,
:host ::ng-deep .navbar__user-btn:hover:focus {
  background-color: var(--pink-color);
  color: white;
  border: 2px solid var(--pink-color);
}
:host ::ng-deep .navbar__user-btn:focus {
  outline: var(--pink-color);
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--pink-color), 0 1px 2px 0 black;
  color: var(--grey-color);
}
:host ::ng-deep .p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link {
  background: #e9ecef;
}
:host ::ng-deep .p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text ,
:host ::ng-deep .p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-icon,
:host ::ng-deep .p-tieredmenu .p-menuitem.p-menuitem-active > .p-menuitem-link .p-submenu-icon  {
  color: #495057;
}
:host ::ng-deep .p-tieredmenu .p-menuitem-link:focus {
  box-shadow: none;
}
:host ::ng-deep .p-menu .p-menuitem-link:focus {

  box-shadow: none;
}
:host ::ng-deep .navbar__store-btn {
  background-color: transparent;
  border: transparent;
  color: rgba(0, 0, 0, 0.55);
  margin: 0.5rem 0;
}
:host ::ng-deep .navbar__store-btn:hover {
  background-color: transparent;
  border: transparent;
}
:host ::ng-deep .navbar__store-btn:focus {
  outline: none;
  box-shadow: none;
  color: black;
}

@media (min-width: 992px) {
  .navbar__links {
    border-radius: 20px;
    background-color: var(--grey-color);
    a {
      color: white;
    }
    .nav-item:focus,.nav-item:hover{
      background-color:var(--pink-color);
    }
  }
  :host ::ng-deep .navbar__store-btn {
    color: white;
  }
  :host ::ng-deep .navbar__store-btn:focus {
    outline: none;
    box-shadow: none;
    color: white;
  }
}
