.register {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .row {
    flex-grow: 1;
  }
  .register__img {
    background-image: url("../../../../../assets/images/catcat.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .register__form {
    background-color: rgb(251, 248, 248);
  }
  .register__text {
    color: #999;
  }

  @media (min-width: 768px) {
    .register__form {
      width: 80%;
      margin: 0 auto;
    }
  }
  @media (min-width: 992px) {
    .register__form {
      width: 50%;
    }
  }
}

:host ::ng-deep .p-divider .p-divider-content {
  background-color: rgb(251, 248, 248) !important;
}
:host ::ng-deep .register__button {
  background-color: #999;
  border: #999;
}
:host ::ng-deep .register__button:hover {
  background-color: #999;
}

@media (min-width: 576px) {
  :host ::ng-deep .ui-datepicker {
    z-index: 99999999999 !important;
  }
}
