<!-- main card container -->
<div class="card">
  <!-- condetion -->
  <ng-template [ngIf]="wishlist.length! > 0" [ngIfElse]="elseBlock">
    <!-- primeNg container -->
    <p-virtualScroller
      scrollHeight="1000px"
      [itemSize]="100"
      styleClass="mb-5"
      [value]="wishlist!"
    >
      <!-- Header -->
      <ng-template pTemplate="header">
        <h2 class="text-center">WishList</h2>
      </ng-template>

      <!-- item list container -->
      <ng-template pTemplate="item" let-wishlist>
        <div class="product-item container my-5">
          <!-- product image -->
          <figure class="image-container">
            <img
              src="{{ wishlist.images[0] }}"
              alt="Item Image"
              class="product-image img-fluid"
            />
          </figure>
          <!-- product details -->
          <div class="product-list-detail mt-3 mt-sm-0">
            <h5 class="product-name mb-2 mt-3 fs-4">{{ wishlist.title }}</h5>
            <p>
              <b class="fs-6">Brand:</b>
              {{ wishlist.brand }}
            </p>
            <div class="m-2">
              <i class="pi pi-tag product-category-icon"></i>
              <span class="product-category">{{ wishlist.animalType }} / </span>
              <span class="product-category">{{ wishlist.category }}</span>
            </div>
          </div>
          <!-- button group -->
          <div class="product-list-action">
            <div
              *ngIf="wishlist.quantity > 0; then instock; else outofstock"
            ></div>
            <ng-template #instock><p class="instock">In Stock</p></ng-template>
            <ng-template #outofstock
              ><p class="outofstock">Out Of Stock</p></ng-template
            >
            <h5 class="mb-3">{{ wishlist.price }} EGP</h5>
            <!-- buttons display at large screen -->
            <div class="buttons m-auto">
              <p-button
                styleClass="me-3"
                class="pp-button"
                (onClick)="$event.stopPropagation(); onDetailsClick(wishlist.id)"
                ><i class="fa-solid fa-circle-info"></i> &nbsp;
                Details</p-button
              >
              <p-button
                styleClass="p-button-danger"
                (onClick)="
                  $event.stopPropagation(); onRemoveItemClick(wishlist)
                "
                ><i class="fa-solid fa-ban"></i> &nbsp; Remove</p-button
              >
            </div>
            <!-- small buttons display at md and small screens -->
            <div class="buttons-sm m-auto">
              <button
                type="button"
                class="favButton btn btn-primary me-4"
                (click)="$event.stopPropagation(); onDetailsClick(wishlist)"
              >
                <i class="fa-solid fa-circle-info"></i>
              </button>
              <button
                type="button"
                class="favButton btn btn-danger"
                (click)="$event.stopPropagation(); onRemoveItemClick(wishlist)"
              >
                <i class="fa-solid fa-ban"></i>
              </button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-virtualScroller>
  </ng-template>

  <!-- Text When list is Empty -->
  <ng-template #elseBlock>
    <h1 class="text-center d-flex justify-content-center align-items-center">
      Start adding items to be shown
    </h1>
  </ng-template>
</div>
