<section class="px-md-5">
  <h3><b>Pet Profile</b></h3>
  <form [formGroup]="petForm" (ngSubmit)="submitPetForm()">
    <!-- Pet name -->
    <div class="row mt-3">
      <div class="col-md-6">
        <div class="grid p-fluid">
          <div class="col-12 md:col-4 field">
            <span class="p-float-label mt-3">
              <input
                id="petname"
                type="text"
                pInputText
                formControlName="petName"
                class="p-inputtext-md"
              /><label for="petname">Name</label>
            </span>
          </div>
          <!-- Pet name validation -->
          <ng-template
            [ngIf]="
              (!controlValidation['petName'].valid &&
                controlValidation['petName'].touched) ||
              showErrors
            "
          >
            <small
              class="p-error block"
              *ngIf="controlValidation['petName'].errors?.['required']"
              >This field is required.</small
            >
            <small
              class="p-error block"
              *ngIf="controlValidation['petName'].errors?.['pattern']"
              >Wrong name format.</small
            >
          </ng-template>
        </div>
      </div>
      <!-- Type -->
      <div class="col-md-6 mt-md-0 mt-3">
        <div class="grid p-fluid">
          <div class="col-12 md:col-4 field">
            <span class="p-float-label mt-3">
              <p-dropdown
                id="pettype"
                [options]="petType"
                optionLabel="name"
                formControlName="type"
              ></p-dropdown>
              <label for="pettype">Type</label>
            </span>
          </div>
        </div>
        <!-- Type validation -->
        <ng-template
          [ngIf]="
            (!controlValidation['type'].valid &&
              controlValidation['type'].touched) ||
            showErrors
          "
        >
          <small
            class="p-error block m-0 p-0"
            *ngIf="controlValidation['type'].errors?.['required']"
            >This field is required.</small
          >
        </ng-template>
      </div>
    </div>
    <div class="row mt-md-3">
      <!-- Age -->
      <div class="col-md-4 mt-3 mt-md-0">
        <div class="grid p-fluid">
          <div class="col-12 md:col-4 field">
            <span class="p-float-label mt-3">
              <input
                type="number"
                pInputText
                id="petage"
                class="p-inputtext-md"
                formControlName="birthdate"
                min="1"
              />
              <label for="petage">Age (Months)</label>
            </span>
          </div>
        </div>
        <!-- Age validation -->
        <ng-template
          [ngIf]="
            (!controlValidation['birthdate'].valid &&
              controlValidation['birthdate'].touched) ||
            showErrors
          "
        >
          <small
            class="p-error block m-0 p-0"
            *ngIf="controlValidation['birthdate'].errors?.['required']"
            >This field is required.</small
          >
        </ng-template>
      </div>
      <!-- Weight-->
      <div class="col-md-4 mt-3 mt-md-0">
        <div class="grid p-fluid">
          <div class="col-12 md:col-4 field">
            <span class="p-float-label mt-3">
              <input
                type="number"
                pInputText
                id="petweight"
                class="p-inputtext-md"
                formControlName="weight"
                min="0.5"
                step="0.25"
              />
              <label for="petweight">Weight (KGs)</label>
            </span>
          </div>
        </div>
        <!-- Weight validation -->
        <ng-template
          [ngIf]="
            (!controlValidation['weight'].valid &&
              controlValidation['weight'].touched) ||
            showErrors
          "
        >
          <small
            class="p-error block m-0 p-0"
            *ngIf="controlValidation['weight'].errors?.['required']"
            >This field is required.</small
          >
          <small
            class="p-error block m-0 p-0"
            *ngIf="controlValidation['weight'].errors?.['min']"
            >Minimum weight is 0.5 KG</small
          >
        </ng-template>
      </div>
      <!-- Gender -->
      <div class="col-md-4 mt-3 mt-md-0">
        <div class="grid p-fluid">
          <div class="col-12 md:col-4 field">
            <span class="p-float-label mt-3">
              <p-dropdown
                [options]="gender"
                id="petgender"
                optionLabel="name"
                formControlName="gender"
              ></p-dropdown>
              <label for="petgender">Gender</label>
            </span>
          </div>
        </div>
        <!-- Gender validation -->
        <ng-template
          [ngIf]="
            (!controlValidation['gender'].valid &&
              controlValidation['gender'].touched) ||
            showErrors
          "
        >
          <small
            class="p-error block m-0 p-0"
            *ngIf="controlValidation['gender'].errors?.['required']"
            >This field is required.</small
          >
        </ng-template>
      </div>
    </div>
    <!-- Pet description -->
    <div class="row mt-3">
      <div class="col-12">
        <div class="grid p-fluid">
          <div class="col-12 md:col-4 field">
            <span class="p-float-label mt-3">
              <textarea
                pInputTextarea
                formControlName="description"
                id="petdesc"
              ></textarea>
              <label for="petdesc">Description</label>
            </span>
          </div>
          <!-- Pet description validation -->
          <ng-template
            [ngIf]="
              (!controlValidation['description'].valid &&
                controlValidation['description'].touched) ||
              showErrors
            "
          >
            <small
              class="p-error block m-0 p-0"
              *ngIf="controlValidation['description'].errors?.['required']"
              >This field is required.</small
            >
          </ng-template>
        </div>
      </div>
    </div>
    <!-- Owner Section -->
    <h3 class="pt-3"><b>Owner Profile</b></h3>
    <div class="row mt-3">
      <!-- Owner name -->
      <div class="col-md-6">
        <div class="grid p-fluid">
          <div class="col-12 md:col-4 field">
            <span class="p-float-label mt-3">
              <input
                type="text"
                pInputText
                class="p-inputtext-md"
                formControlName="ownerName"
                id="ownername"
              />
              <label for="ownername">Name</label>
            </span>
          </div>
          <!-- Owner name validation -->
          <ng-template
            [ngIf]="
              (!controlValidation['ownerName'].valid &&
                controlValidation['ownerName'].touched) ||
              showErrors
            "
          >
            <small
              class="p-error block"
              *ngIf="controlValidation['ownerName'].errors?.['required']"
              >This field is required.</small
            >
          </ng-template>
        </div>
      </div>
      <!-- Phone number -->
      <div class="col-md-6 mt-md-0 mt-3">
        <div class="grid p-fluid">
          <div class="col-12 md:col-4 field">
            <span class="p-float-label mt-3">
              <input
                type="tel"
                id="ownerphone"
                pInputText
                class="p-inputtext-md"
                formControlName="phoneNumber"
              />
              <label for="ownerphone">Phone Number</label>
            </span>
          </div>
          <!-- Phone number validation -->
          <ng-template
            [ngIf]="
              (!controlValidation['phoneNumber'].valid &&
                controlValidation['phoneNumber'].touched) ||
              showErrors
            "
          >
            <small
              class="p-error block"
              *ngIf="controlValidation['phoneNumber'].errors?.['required']"
              >This field is required.</small
            >
            <small
              class="p-error block"
              *ngIf="controlValidation['phoneNumber'].errors?.['minlength'] || controlValidation['phoneNumber'].errors?.['maxlength']"
              >Phone number should be 11 digits</small
            >
          </ng-template>
        </div>
      </div>
    </div>
    <!-- Location -->
    <div class="row mt-3">
      <div class="col-12">
        <div class="grid p-fluid">
          <div class="col-12 md:col-4 field">
            <span class="p-float-label mt-3">
              <input
                type="text"
                id="ownerlocation"
                pInputText
                class="p-inputtext-md"
                formControlName="location"
              />
              <label for="ownerlocation">Location</label>
            </span>
          </div>
          <!-- Location validation -->
          <ng-template
            [ngIf]="
              (!controlValidation['location'].valid &&
                controlValidation['location'].touched) ||
              showErrors
            "
          >
            <small
              class="p-error block m-0 p-0"
              *ngIf="controlValidation['location'].errors?.['required']"
              >This field is required.</small
            >
          </ng-template>
        </div>
      </div>
    </div>
    <!-- Save button -->
    <div class="row mt-lg-5 mt-3">
      <button
        pButton
        pRipple
        type="submit"
        label="Save Changes"
        class="p-button-outlined p-button-rounded col-lg-3 col-11 mx-auto"
      ></button>
    </div>
  </form>
</section>
