:host ::ng-deep .save-btn {
  background-color: var(--grey-color);
  color: white;
  border: transparent;
}
:host ::ng-deep .save-btn:hover,
:host ::ng-deep .save-btn:active {
  background-color: var(--pink-color);
  color: white;
  border: transparent;
}
// :host ::ng-deep .p-button:focus {
//   box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px var(--pink-color), 0 1px 2px 0 black;
// }
