/* You can add global styles to this file, and also import other style files */
body,
app-root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

app-root,
app-login,
app-register {
  flex-grow: 1;
}

app-login,
app-register {
  display: flex;
  flex-direction: column;
}
