<main class="container-fluid">
  <div class="container">
    <section class="wrapper__store d-flex justify-content-between">
      <div style="height: 100%" class="wrapper__store__filter col-lg-3">
        <app-filteration (filterOptions)="onFilterOptionsChange($event)" class="col-lg-12 d-lg-block d-none"></app-filteration>
      </div>
      <div
        style="height: 100%"
        class="wrapper__store__content col-lg-9 d-block"
      >
        <div class="p-4 d-flex flex-wrap">
          <div
            class="col-lg-4 col-md-6 col-12 p-2"
            *ngFor="let product of displayFilteredProductList"
          >
            <app-product-card [product]="product"> </app-product-card>
          </div>
        </div>
        <div>
          <p-paginator [rows]="10" [totalRecords]="120"></p-paginator>
        </div>
      </div>
    </section>
  </div>
</main>
