<section class="px-md-5">
  <h3 style="color: rgb(101, 100, 100)"><b>Profile Account</b></h3>
  <!-- first name -->
  <div class="row mt-3">
    <div class="col-md-6">
      <div class="grid p-fluid">
        <div class="col-12 md:col-4">
          <div class="p-inputgroup">
            <input
              type="text"
              placeholder="First name"
              type="text"
              pInputText
              class="p-inputtext-md"
              aria-describedby="username2-help"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- last name input-->
    <div class="col-md-6 mt-md-0 mt-3">
      <div class="grid p-fluid">
        <div class="col-12 md:col-4">
          <div class="p-inputgroup">
            <input
              type="text"
              placeholder="Last name"
              type="text"
              pInputText
              class="p-inputtext-md"
              aria-describedby="username2-help"
              formControlName="lastName"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- User name  -->
  <div class="row mt-3">
    <div class="col-md-6">
      <div class="grid p-fluid">
        <div class="col-12 md:col-4">
          <div class="p-inputgroup">
            <input
              type="text"
              placeholder="User name"
              type="text"
              pInputText
              class="p-inputtext-md"
              aria-describedby="username2-help"
            />
          </div>
        </div>
      </div>
    </div>
    <!-- phone-->
    <div class="col-md-6 mt-md-0 mt-3">
      <div class="grid p-fluid">
        <div class="col-12 md:col-4">
          <div class="p-inputgroup">
            <input
              type="text"
              placeholder="Phone number"
              type="text"
              pInputText
              class="p-inputtext-md"
              aria-describedby="username2-help"
              formControlName="lastName"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Security -->
  <h3 style="color: rgb(101, 100, 100)" class="mt-4 mb-0"><b>Security</b></h3>
  <div class="row">
    <div class="col-md-6 mt-3">
      <div class="grid p-fluid">
        <div class="col-12 md:col-4">
          <div class="p-inputgroup">
            <input
              type="text"
              placeholder="Password"
              type="text"
              pInputText
              class="p-inputtext-md"
              aria-describedby="username2-help"
              formControlName="lastName"
            />
          </div>
        </div>
      </div>
    </div>
    <button
      pButton
      pRipple
      type="button"
      label="Save Changes"
      class="p-button-rounded save-btn col-md-4 col-lg-3 col-11 ms-md-auto ms-auto me-auto me-md-0 mt-md-auto mt-3"
    ></button>
  </div>
</section>
